/*--------------------------------------------------
  Переменные - Variables
---------------------------------------------------*/
$background-color: rgb(15, 16, 16);
$font-family: "SfProDisplay";
$font-size: 14px;
$transition-s: 0.3s;
$gray: #aaa;
$liquidRadius: 40px;
$black: #2c323a;
$gray20: #4f5863;
$gray30: #7c8a9d;
$dark: #173456;
$darkgray: #343434;
$accent: #184f90;
